* {
    margin: 0;
    padding: 0;
}

.zeroline {
    margin-left: 95px;
    margin-right: 95px;
    margin-top: 20px;
}

.zero2 {
    font-size: 10px;
    opacity: 0.5;
}

/* .timeline {
    height: 2280px;
    margin-left: 95px;
    margin-right: 100px;
    border: 1px solid red;
} */

.democontainer {
    background-color: black;
}

.clear {
    clear: both;
}

#time {
    width: 10%;
    float: left;
}


.new {
    /* position: absolute;
    float: right; */
    float: left;
    width: 90%;
    position: relative;
}